In [14]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

#import regex and math library
import re
import math

In [15]:
df = pd.read_csv('../data/Annual_Temperature.csv')
df

,ObjectId,Country,ISO2,ISO3,F2000,F2001,F2002,F2003,F2004,F2005,F2006,F2007,F2008,F2009,F2010,F2011,F2012,F2013
0,1,Afghanistan,AF,AFG,15.497833,15.778083,15.537667,14.916000,15.770917,14.980000,15.595583,15.106167,15.216500,15.257750,15.828667,15.518000,14.481583,16.533625
1,2,Albania,AL,ALB,13.746583,13.690417,13.559917,13.626583,13.258167,12.747083,12.976917,13.890500,13.955167,13.844250,13.775417,13.443250,13.768250,14.993875
2,3,Algeria,DZ,DZA,24.032250,24.724417,24.263000,24.393667,23.916000,24.222583,24.200833,24.065333,23.950250,24.154333,25.215667,24.144167,23.954833,25.121500
3,4,American Samoa,AS,ASM,27.219833,27.227583,27.537917,27.264833,27.281167,27.373500,27.081250,27.452417,26.995083,27.034250,27.453417,27.009500,27.201417,27.517250
4,5,Andorra,AD,AND,12.311917,12.216083,12.319583,12.900667,12.043000,11.643417,12.834333,12.155250,11.978583,12.566667,11.480833,12.994417,12.339917,12.307875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,223,Western Sahara,EH,ESH,23.020083,23.704917,23.457833,23.408917,23.420667,23.507667,23.441833,23.145417,23.323083,23.381083,24.114250,23.401250,23.303417,23.744250
223,224,World,NaN,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,225,Yemen,YE,YEM,27.436167,27.068917,27.125167,27.357750,27.334083,27.294667,27.175000,27.310750,26.807500,27.342417,27.302750,27.288250,27.445000,28.129750
225,226,Zambia,ZM,ZMB,21.558750,21.802417,22.292417,22.156750,21.768083,22.813500,21.784250,21.838500,21.535833,21.670250,22.267500,21.771583,21.697750,21.196000
226,230,Zimbabwe,ZW,ZWE,21.149000,21.693667,22.081083,21.891250,21.330917,22.509917,21.618750,21.604250,21.545583,21.377250,21.986250,21.602417,21.521333,20.710750

In [16]:

def getCountryModelTemp(country_code):
    #regex expression used to get all columns containing yearly data
    # column headers include F2000, F2001, F2002, F1987 so on
    #\d indicates integer in the regular expression
    regex_expr = "F\d\d\d\d"
    
    #storing all column names of the data frame in a list
    col_names = []
    for col in df.columns:
        col_names.append(col)

    #storing the column names in a string which will be used for the regular expression    
    string = ""
    for col in col_names:
        string += col

    #using the regular expression to get a list containing only the yearly values headers (e.g. F2000, F2001)   
    listReg = re.findall(regex_expr, string)
    
    # storing only the yearly values, object id, and Country headers in a new list
    dropped_cols = []
    for item in col_names: 
        if listReg.count(item) == 0 and item != 'ObjectId' and item != 'Country':
            dropped_cols.append(item)

    # dropping unused columns
    modified_df = df
    for item in dropped_cols:
        modified_df = modified_df.drop(item, axis = 1)


    # new, separate data frame without the object id and country headers
    row = modified_df[modified_df['ObjectId'] == country_code]
    row = row.drop('ObjectId', axis = 1)
    row = row.drop('Country', axis = 1)


    # getting the values in a 1D array
    temp_changes = row.values.tolist()
    temp_changes = temp_changes[0]


    #1961 is the start year, and thus our start index
    start = 1961
    x_values = []
    y_values = []

    for item in temp_changes:
        x_values.append(start)
        # append if not nan/null
        if not math.isnan(item):
            y_values.append(item)
        start += 1

    # getting the y = mx + b model 
    outer = []
    for i in range(len(y_values)):
        for x, y in zip(x_values, y_values):
            outer.append([x, y])

    dt = np.array(outer)
    x = dt[:, 0]
    y = dt[:, 1]

    theta = np.polyfit(x, y, 1)
    name = df['Country'].values[country_code - 1]
    iso = df['ISO3'].values[country_code-1]
    model_value = f'{name},{iso},{theta[0]},{theta[1]}'


    return model_value

In [17]:
print(getCountryModelTemp(117))

Lithuania,LTU,-0.015352380973628873,37.53128575597195

In [29]:
results = []
start = 1
end = 226

while start <= end:
    try:
        results.append(getCountryModelTemp(start))
    except:
        pass
    start += 1
    
for item in results:
    print(item)

Afghanistan,AFG,0.006746611780216838,2.155925250994802
Albania,ALB,0.053914377340655226,-92.41393920273914
Algeria,DZA,0.02333736252747094,-21.60491553494192
American Samoa,ASM,-0.004078571186813232,35.28526142934075
Andorra,AND,0.0008550367252754036,10.610039648020642
Angola,AGO,-0.034852106329668134,91.05115908362203
Anguilla,AIA,0.014677655560441302,-1.373989696596831
Antigua And Barbuda,ATG,0.01397902956044141,-0.1677555408827597
Argentina,ARG,-0.0029999084175799844,21.126763263731473
Armenia,ARM,0.06132417572966464,-110.63225622404374
Aruba,ABW,0.009005311010991238,10.947842252303312
Australia,AUS,-0.0008149267032934506,23.836764122301297
Austria,AUT,0.012145695945052448,-16.39257641481926
Azerbaijan,AZE,0.059253205274720014,-103.81716649658301
Bahamas,BHS,0.005364652131869962,15.263457646260134
Bahrain,BHR,0.03640998138461374,-44.3022663506561
Bangladesh,BGD,0.038616483406592864,-50.469573960328596
Barbados,BRB,0.01807481716483675,-8.221973605387722
Belarus,BLR,0.019453479870326213,-30.897745454366817
Belgium,BEL,-0.04976327837362379,108.56047936581908
Belize,BLZ,0.026653113582418543,-26.69591764055132
Benin,BEN,0.0270237179340668,-25.206025155276418
Bhutan,BTN,0.05959221613186728,-104.7066644065917
Bolivia,BOL,-0.005686721472525519,32.51284175933681
Bosnia And Herzegovina,BIH,0.05387362657142333,-94.34688408856108
Botswana,BWA,-0.03867820516483007,98.51973175680314
Brazil,BRA,0.003938553076924718,17.817125987579193
British Virgin Islands,VGB,0.021915384769232295,-15.87388858132168
Bulgaria,BGR,0.0705147436263674,-127.04102891987782
Burkina Faso,BFA,0.024317399054945756,-18.89778621132006
Burundi,BDI,0.002616850153847273,15.66570446516263
Cabo Verde,CPV,0.020890201626374692,-14.276171105606483
Cambodia,KHM,0.043024084043954185,-57.25863833219413
Cameroon,CMR,0.032238736153847015,-38.34229969340828
Canada,CAN,0.11120128204614804,-222.27381409243907
Cayman Islands,CYM,-0.008427167142854885,44.013770798566966
Central African Republic,CAF,0.018014377274726805,-9.428903359453557
Chad,TCD,0.039974176021978565,-50.68947108538566
Chile,CHL,0.01796730759340725,-25.420811618814465
Hong Kong,HKG,-0.010114743626373589,43.191409871318605
China,CHN,0.040406959690108345,-71.78595509507386
Colombia,COL,0.006385714175825776,12.902619264062787
Comoros,COM,0.012987087802199607,0.9308303441722785
Congo (Democratic Republic Of The),COD,-0.0006462454065921443,25.74335390889862
Congo,COG,0.01830485327472627,-10.906093459452496
Costa Rica,CRI,0.0031971918901109665,20.035243211206673
Croatia,HRV,0.03465897410988573,-55.56025775120015
Cuba,CUB,0.0007115992527489287,24.69493640593077
Cyprus,CYP,0.054471153868130756,-87.25169464054724
Czech Republic,CZE,-0.0008782051252766461,10.64692215541037
Denmark,DNK,0.0689957872307678,-152.03444351867847
Djibouti,DJI,0.04431666652747017,-57.398380679226115
Dominica,DMA,0.019282508813188107,-10.93794025637616
Dominican Republic,DOM,0.0012065929890133311,24.01740924625912
Ecuador,ECU,0.0007669416483537278,20.949789331864036
Egypt,EGY,0.07317912105494377,-120.24890876988754
El Salvador,SLV,0.0061577532967037945,13.488116420878146
Equatorial Guinea,GNQ,0.026699999934066996,-26.92253558384823
Eritrea,ERI,0.04847362630769066,-67.63955023680994
Estonia,EST,0.0006260073164807714,5.043056795181225
Ethiopia,ETH,0.041857875538460404,-58.44339393120655
Falkland Islands (Islas Malvinas),FLK,0.046437728931866595,-84.61258881616179
Faroe Islands,FRO,-0.030433608041754188,67.38387679836565
Fiji,FJI,0.0022431316703287007,21.272718796485417
Finland,FIN,0.012369322340656392,-21.583650633741446
France,FRA,-0.019187270945053146,51.598000227249194
French Polynesia,PYF,0.004699908263736878,17.54327275252626
Gabon,GAB,0.021965751010990145,-18.3064305891231
Gambia,GMB,0.012075000109889988,4.618600974505735
Georgia,GEO,0.06259752750988552,-113.61020382791402
Germany,DEU,-0.030984432329669954,70.34901941848277
Ghana,GHA,0.02371904756044009,-19.157035599451593
Greece,GRC,0.0647972530109848,-111.66977982339827
Greenland,GRL,0.07154743621977888,-157.5760748109863
Grenada,GRD,0.02155320496703412,-14.786368271211048
Guadeloupe,GLP,0.014862637538463053,-2.015072689783196
Guatemala,GTM,0.024564835142857944,-24.525348858573004
Guiana, French,GUF,0.01962664817582628,-11.986695167366772
Guinea,GIN,0.01266300371428678,1.4309092399979002
Guinea Bissau,GNB,0.008584798769231112,10.706997707252071
Guyana,GUY,0.016331318879122286,-5.341887752530226
Haiti,HTI,8.3089186815254e-05,26.91937718351242
Holy See,VAT,0.005748351617581717,-8.383488950449166
Honduras,HND,0.011980952109891072,1.834095771646454
Hungary,HUN,0.04555934074944547,-78.59681244931963
Iceland,ISL,0.0037239926989024374,-4.754104444519115
India,IND,0.028760439296702384,-31.8555928876905
Indonesia,IDN,0.00013150178022044493,26.10602024670199
Iran,IRN,0.04743571450549105,-74.1259766209822
Iraq,IRQ,0.059098901296699216,-93.0781954448271
Ireland,IRL,-0.030519597079117815,70.30007511080716
Isle Of Man,IMN,-0.05540338818900612,119.26449661901236
Israel,ISR,0.05607811349450375,-89.53555437186469
Italy,ITA,0.005590476351647363,2.8890234924195255
Jamaica,JAM,0.0057060438241769975,15.607638537360334
Japan,JPN,0.013013186945054694,-12.75619531439511
Jordan,JOR,0.06974441399999728,-116.65147680713748
Kazakhstan,KAZ,0.011196886457139251,-15.154570532992903
Kenya,KEN,0.025841392043956576,-25.987926942198836
Kiribati,KIR,-0.008096977890107762,43.40616411878701
North Korea,KOR,-0.008180549450548658,23.942862043954477
Kuwait,KWT,0.042936904835161833,-57.97136323889516
Kyrgyzstan,KGZ,0.006367307703293705,-7.860168977730362
Laos,LAO,0.060248351692305885,-94.24040576318323
Latvia,LVA,-0.007442032964837695,21.41017902481816
Lebanon,LBN,0.04811153859340457,-75.86552956395202
Lesotho,LSO,-0.013412728989008625,40.73286869087446
Liberia,LBR,0.0140855311208803,-1.4591336703319817
Libya,LBY,0.05069871784615251,-76.31074521944791
Liechtenstein,LIE,-0.004132692351649119,13.99496208286964
Lithuania,LTU,-0.015352380973628873,37.53128575597195
Luxembourg,LUX,-0.04297692291428378,94.90209583313904
Madagascar,MDG,-0.008197069626371746,39.646627347029266
Malawi,MWI,-0.012883608131864458,47.416805548014736
Malaysia,MYS,0.01561263731868136,-4.129798448791283
Mali,MLI,0.013144139362637539,3.4965784232963637
Malta,MLT,-0.0019576006373633686,23.413481040440995
Martinique,MTQ,0.019282508813188107,-10.93794025637616
Mauritania,MRT,0.008632234505494319,11.637150039011349
Mauritius,MUS,0.014646428571429537,-4.454553572859045
Mayotte,MYT,0.015053296813188611,-2.493784099234298
Mexico,MEX,0.04475305254944897,-66.71516859032653
Moldova,MDA,0.06843736281757719,-124.25935658144023
Monaco,MCO,0.0006047620835169903,9.007749648823175
Mongolia,MNG,0.018517765549448707,-35.75320967089746
Montenegro,MNE,0.059665293164829894,-106.06528275394567
Montserrat,MSR,0.013754944945056576,0.21958629702975788
Morocco,MAR,0.023316666703295578,-27.066404833734037
Mozambique,MOZ,-0.023242674153842745,69.9423959219713
Namibia,NAM,-0.045822802197799724,111.32238415702808
Nepal,NPL,0.021231318681318848,-26.12108974406625
Netherlands,NLD,-0.059020329536260845,126.81290907709317
New Caledonia,NCL,0.008665842637362841,6.386427825274329
New Zealand,NZL,-0.0027197799560442796,16.347167063517116
Nicaragua,NIC,0.007944627956045551,11.052609179337525
Niger,NER,0.05748946909890074,-84.67481318923005
Nigeria,NGA,0.048133424989011575,-67.12611783230884
Niue,NIU,0.004348351824175044,17.219986833078455
Norway,NOR,-0.0031301281978018364,7.608702824460826
Oman,OMN,0.017849908373627096,-6.977882224397021
Pakistan,PAK,0.0008391026593391424,20.1187411141788
Palau,PLW,-0.002428113296703167,32.516673030549185
Panama,PAN,0.011068864637363758,5.2451516838439485
Papua New Guinea,PNG,-0.005275183230769144,35.33376526868114
Paraguay,PRY,-0.041180219604391895,104.99082016592673
Peru,PER,-0.006469413978020722,33.09713747747005
Philippines,PHL,0.009387912285713847,8.627770672858002
Poland,POL,-0.01039917581099149,29.248238527268605
Portugal,PRT,0.02598699648351675,-35.51443343846204
Puerto Rico,PRI,0.016608180395606246,-6.341102865498144
Qatar,QAT,0.028172710505493706,-27.193968633844577
Romania,ROU,0.06303864457362075,-113.94558676995594
Russia,RUS,0.08707738097582313,-175.23351790321763
Rwanda,RWA,0.010265476395605194,-0.2146968326389295
Saint Pierre And Miquelon,SPM,0.09152881559999361,-174.3116272327017
Samoa,WSM,-0.005080769098900559,36.9676810592297
San Marino,SMR,0.004481410593405338,6.231934776046424
Sao Tome And Principe,STP,0.029191758417583244,-30.917683496595014
Saudi Arabia,SAU,0.051347802065931404,-74.21874699329143
Senegal,SEN,0.015269230791208444,-1.2076639638454643
Serbia,SRB,0.057264010859334157,-101.4553967219542
Seychelles,SYC,0.02527353476923192,-22.18344453989237
Sierra Leone,SLE,0.009357326109891404,8.490383498788661
Singapore,SGP,0.01761144703296723,-7.32069763307731
Slovakia,SVK,0.028498626389007128,-47.25819920601436
Slovenia,SVN,0.02072509151867778,-29.77912351492709
Solomon Islands,SLB,-0.006394871736263143,39.89212442681201
Somalia,SOM,0.028160897406593305,-27.6501936231866
South Africa,ZAF,-0.01819917573626095,53.693916952521974
Spain,ESP,0.0159303111868136,-16.70142595077004
Sri Lanka,LKA,0.025533791274724896,-22.519945642306944
Sudan,SDN,0.04915091593406537,-68.75229614813074
Suriname,SUR,0.023242857296704923,-18.66957173198122
Sweden,SWE,-0.028722903296703347,60.243877736263826
Switzerland,CHE,-0.012698351650549073,33.18603663438387
Syria,SYR,0.06522884619779883,-109.18829358559775
Taiwan,TWN,-0.012341025824175473,47.07057545263667
Tajikistan,TJK,0.0032066849692283994,-0.9252449388854461
Tanzania,TZA,0.0025294875164855245,18.065905931314727
Thailand,THA,0.05756034810988794,-86.47874978691878
Timor Leste,TLS,-0.008159707098898867,42.48235466922637
Togo,TGO,0.01972472523076999,-11.158724271539947
Tonga,TON,0.006309432417581184,11.513248266266169
Trinidad And Tobago,TTO,0.024512912241759048,-21.22392566923235
Tunisia,TUN,0.015044230923075412,-8.301574936150875
Turkey,TUR,0.07120705125274356,-127.33459655405862
Turkmenistan,TKM,0.04715879116483021,-76.31621328394627
Turks And Caicas Islands,TCA,0.0034605615384637844,20.63725390307251
Uganda,UGA,0.020523168593406905,-16.610319326813798
Ukraine,UKR,0.07562527472526973,-139.53801373596815
United Arab Emirates,ARE,0.03248452389010969,-34.77782754021938
United Kingdom,GBR,-0.03508663003076577,78.47678387124594
United States,USA,0.03712222211428277,-63.246475978422765
Uruguay,URY,-0.03182023835164658,80.54212550472177
Uzbekistan,UZB,0.034459890109885316,-53.87299450548505
Venezuela,VEN,0.013785988967034245,-1.2922338883541573
Vietnam,VNM,0.04018745378021857,-54.71521114615145
Western Sahara,ESH,0.01841245421978032,-12.771170343846348
Yemen,YEM,0.028466300175822412,-28.69186226164487
Zambia,ZMB,-0.030873077120875416,82.61089233032236